<div class="SignIn-Wrap">
    <div class="Side-Image">
        <img src="assets/images/PY003_login-desktop-v1.jpg">
    </div>
    <div class="Log-In">
        <div class="header">
            <h1>Log In</h1>
        </div>
        <div class="form">
            <form>
                <input type="text" placeholder="Username" name="uname" required>
                <input type="text" placeholder="Password" name="psw" required>

                <div class="log-in-submit">
                    <a href="#">Forget password?</a>
                    <button type="submit"><img src="assets/images/right-arrow.png"></button>
                </div>
            </form>
        </div>
        <div class="sign-up-btn">
            <a href="#">Sign Up</a>
        </div>
    </div>
</div>