.btn-primary {
    padding: 15px;
    margin: 10px auto;
    min-width: 10%;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: #eee;
}

.in {
    background-color: seagreen;
}

.out {
    background-color: coral;
}

.renew {
    background-color: royalblue;
    width: auto;
}

.container {
    margin: 25px;
}