<div class=container>
  <!-- <h3>
    <a routerLink="/">Home</a>
    | <a routerLink="/protected">Protected</a> 
    | <a routerLink="/call-api">Call API</a>
  </h3>
  <h1>
    {{title}}
  </h1>
  <button (click)="logIn()" class="in btn-primary">Log In</button>
  <hr />
  <button (click)="logOff()" class="out btn-primary">Log Off</button>
  <hr />
  <button (click)="silentRenew()" class="renew btn-primary">Silent Renew</button>
  <hr />
  <button (click)="revokeAccessToken()" class="renew btn-primary">Revoke Access Token</button>
  
  <div>
   
    <pre #userInfo *ngIf="user">
      <h2>User:</h2>
      {{ user | json }}
    </pre>
    <button (click)="getCurrentUser()" class="see-current btn-primary">See Current User</button>

    
  </div> -->
  <router-outlet></router-outlet>
</div>